*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(to right, #a2d694, #ecb6a4);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.3);

    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 12px;
    padding: 12px;
    border-radius: 8px;
}
.calculator div{
    background-color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
    border-radius: 8px;
}
.calculator div:hover {
    background-color: red;
    
}
.calculator .screen{
    grid-column: 1/span 4;
}
.calculator .c{
    grid-column: 1/span 2;
}
.calculator .zero{
    grid-column:1/span 2 ;
}
.calculator .equal{
    grid-row: 5/ span 2;
    grid-column: 4;
}