*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    flex-grow: 1;
}
header{
    background-color: white;
    padding: 10px;
}
header .logo{
   width: 120px;
   margin-right: 40px;
}
header ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
header ul li a{
    text-decoration: none;
    color: inherit;
}
.row{
    display: flex;
    align-items: center; 
    max-height: 400px;
    width: 1350px;
}
.space-between{
    justify-content: space-between;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.flex-start{
    justify-content: space-start;
}
.contact-info{
    display: flex;
    flex-direction: column;  
}
.img-side {
    margin-top: 150px;
    margin-bottom: 50px;
    margin-right: 73px;
}
.here {
    background-color: #A3D9A5;
    border-bottom: 25px solid #0B6623;
    padding: 50px;
    height: 650px;
}
 .here button{
    background-color:#455F30 ;
    color:white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}
.mb-20{
    margin-bottom: 40px;
}
.your-size{
    font-size: 60px;
}
.feri{
    color:#455F30
}
.here .text-side, .here .img-side{
    width: 50%;
}
.img-side img{
    margin-bottom: 100px;
}
.abaut-us {
    margin:50px;
    padding: 50px;
}
.button-us{
    background-color:#8DAD78 ;
    color:white;
    border: none;
    padding: 13px 34px;
    border-radius: 12px;
    gap:10px; 
}
.row .img-gr, .row .text-us{
    width: 50%;
}
.img-us{
    width: 350px;;
}
.feri{
    color:#455F30
}
.feri-1{
    color:#717C56;
}
.text-us{
    max-width: 400px;
   
}
.row-service{
    display: flex;
    flex-direction: column;
}
.satauri{
    display: flex;
    justify-content: space-between;
}
.services h1{
    margin-bottom: 40px;
    margin-top: 50px;
}
.isari-1 {
    margin-inline-end: 100px;
    margin-top: 150px;
    background-color:#8DAD78 ;
    color:white;
    border: none;
    width: 50px;
    height: 50px;
    top:8px;
    left:8px;
    border-radius: 50%;
}
.cards{
    display: flex;
    height: 521px;
}
.card{
    width: 200px;
    height: 400px;
    padding: 20px;
    margin: 100px;
}
.centri{
    margin-left: 510px;
    margin-bottom: 20px;
    background-color:#8DAD78 ;
    color:white;
    border: none;
    padding: 13px 34px;
    border-radius: 12px;
    gap:10px;
    width: 190px;
}
.card img{
    max-width: 200px;
}
/* meoTxe seqciis  */
.row-blog h1 {
    font-size: 60px;
    text-align: center;
    color:#455F30
}
.row-blog img {
    margin-left:280px ;
}
.cards-2{
    display: flex;
    justify-content: flex-end;
   
}
.card-2 img{
    width: 220px;
}



/* mexute seqciis  */
.row-subs h1 {
    font-size: 50px;
    color:#455F30;
    text-align: center;
    margin-top: 200px;
}

.row-subs p{
    text-align: center;
    margin-bottom: 100px;
}
.sub{
    background-color:#8DAD78 ;
    color:white;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    gap:10px;
    margin-left: 510px;
    margin-bottom: 200px;
}
  
 footer{
    background-color: black;
    color: white;
    height: 300px;
}
.yvela{
    display: flex;
    justify-content: space-between;
}
.maya p{
    width: 362px;
    height: 170px;
    top: 3170px;
    left: 1128px;
}
.yvela .linki ul li{
    list-style: none;
    display: flex;
    margin-top: 20px;
    margin-right: 80px;
}
.yvela .linki ul li a{
    text-decoration: none;
    color: inherit;
}
.yvela .contacti ul li{
    list-style: none;
    text-decoration: none;
    color: inherit;
}
.mb-50{
    margin-top: 50px;
}
.contacti li i{
    padding: 15px;
}
.linki .quick{
    display: flex;
}