*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}
:root{
    --main-color: #ff9933;
}
body{
    line-height: 1.6;
    background-color: #f4f4f4;
}
.container{
    max-width: 1300px;
    margin: auto;
}
/* banner */
.top-banner {
    background-color: var(--main-color);
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 0.9rem;
}
/* header */
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1300px;
    background-color: #f4f4f4;
    padding: 10px;
}
.log{
    display: flex;
    align-items: center;
    gap: 20px;
}
header img{
    width: 40px;
}
header ul li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.607);
    border-radius: 10px;
}
header ul li:hover{
    background-color: #ebebeb;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
    transition: 1s;
}
header ul li a{
    text-decoration: none;
    color: inherit;
}
.button button{
    background-color: rgba(255, 255, 255, 0.607);
    color: inherit;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
}
.button button:hover{
    background-color: var(--main-color);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
    transition: 1s;
}
.satauri{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    gap: 150px;
}
.satauri h1{
    margin-top: 50px;
    width: 600px;
    height: 50px;
}
.satauri p{
    width: 600px;
    height: 20px;
}

/* სექცია */
.pricing-container{
    background-color: white;
    padding: 30px;
    display: flex;
    gap: 40px;
}
.plan {
    background-color: rgba(222, 222, 222, 0.607);
    border-radius: 10px;
    width: 590px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: 0.3s ease;
    height: 760px;
}
.plan-header {
    background-color: #fff9f0;
    padding: 10px 0;
    border-radius: 6px;
    font-weight: 600;
    color: #333;
    margin: 20px;
}
.plan.pro .plan-header {
    background-color: #fff5eb;
}
.price {
    font-size: 48px;
    font-weight: 700;
    margin: 20px 0;
}
.price span {
    font-size: 16px;
    color: #777;
}
.features {
    background-color: white;
    text-align: left;
    margin: 20px;
    border-radius: 10px;
    border: 2px solid gray;
    border: #333;
    padding-top: 10px;
    height: 500px;
}
.features h4{
    margin-left: 190px;
}
.features p {
    border: 2px solid rgb(207, 207, 207);
    font-size: 14px;
    color: #333;
    padding: 12px;
    margin: 15px;
    border-radius: 8px;
    height: 50px;
    margin-bottom: 10px;
}
.features p .fa-check{
    margin-left: 10px;
    padding: 3px;
    height: 20px;
    width: 20px;
    background-color: #ffe7c6;
    border-radius: 4px;
    border: 2px solid rgba(222, 222, 222, 0.607);
}
.features p .fa-xmark{
    border: 2px solid rgba(222, 222, 222, 0.607);
}
.btn {
    background-color: #ff9f1a;
    border: none;
    color: white;
    font-weight: 600;
    height: 45px;
    width: 550px;
    border-radius: 5px;
}
.btn:hover {
    background-color: #e68a00;
}
.butonebi{
    margin-left: 560px;
    display: flex;
    gap: 20px;
}
.mtavari button{
    background-color: rgba(255, 255, 255, 0.607);
    color: inherit;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 30px;
}
.mtavari button:hover{
    background-color: var(--main-color);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
    transition: 1s;
}
/* footer */
.footer{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding-left: 50px;
    padding-right: 120px;
    height: 300px;
    padding-top: 50px;
}
.pirveli img{
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
}
.p ul li{
    padding: 5px;
    list-style: none;
    text-decoration: none;
    color: inherit;
}
.meore{
    display: flex;
    justify-content: space-around;
}
.hom{
    margin-right: 150px;
    text-align: left;
    justify-content: start;
}
.hom ul li{
    text-align: left;
    list-style: none;
    color: inherit;
}
.hom ul li a{
    text-decoration: none;
    color: inherit;
}
.ab{
    margin-right: 200px;
    text-align: left;
    justify-content: start;
}
.ab ul li{
    text-align: left;
    list-style: none;
    color: inherit;
}
.ab ul li a{
    text-decoration: none;
    color: inherit;
}
.buts{
    display: flex;
    margin-top: 10px;
    gap: 15px;
}
.buts button{
    background-color: rgba(222, 222, 222, 0.607);
    height: 50px;
    width: 50px;
    border: 2px solid rgba(132, 132, 132, 0.607);
    border-radius: 7px;
    font-size: 30px;
}
.buts button:hover{
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
    transition: 1s;
}
footer p{
    text-align: center;
}